.App{
  height: 100vh;
  width: 100%;
  padding: 10px 0px;
}

.controls{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
  padding: 10px;
  background-color: orange;
}

.control-btns{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.control-btns button{
  height: 40px;
  width: 150px;
  margin-bottom: 10px;
  background-color: white;
  color: rgb(222, 149, 12);
}

.btn-analytics, .btn-expand{
  background-color: rgb(253, 176, 31);
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.btn-analytics{
  background-color: white;
}

.btn-expand{
  width: 100%;
  height: 40px;
  border-radius: 5px;
  justify-content: space-evenly;
  margin: 10px;
}

.btn-save{
  border: 1px solid rgb(59, 167, 59);
}

.btn-discard{
  border: 1px solid rgb(223, 131, 131);
}

.btn-discard:hover{
  background-color: rgb(250, 100, 100) !important;
  color: white;
}

.btn-save:hover{
  background-color: rgb(59, 167, 59) !important;
  color: white;
}

.screen{
  height: 640px;
}

.editor-time-container{
  width: 100%;
}

.filter-data-container, .place-container{
  position: relative;
}

.place-container > button{
  margin: 10px 0px;
}

.filter-data-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-data-container label{
  font-size: 1.4rem;
  margin-right: 10px;
}

.filter-data-container h2{
  font-size: 1.3rem;
  width: 150px;
  text-align: center;
  cursor: pointer;
}

.time-list, .place-list{
  position: absolute;
  top: 40px;
  left: 0px;
  width: 100%;
  text-align: center;
  background-color: aliceblue;
  transition: .3s ease all;
  z-index: 100;
  padding: 10px;
  font-size: 1.3rem;
}

.list-item{
  padding: 6px;
  border-radius: 2px;
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
}

.list-item:hover{
  background-color: rgb(199, 217, 232);
}

.analytic-container{
  width: 100%;
  height: 100%;
  padding: 0px 10px;
}

.analytics{
  font-family:Georgia, 'Times New Roman', Times, serif;
  height: 570px;
  color: rgb(85, 85, 85);
  background-color: rgb(240, 240, 240);
  padding: 10px 0px;
}

.analytic-btns{
  position: sticky;
  z-index: 10;
  top: 0px;
  height: 40px;
  justify-content: space-between;
}

.analytic-btns button{
  background-color: rgb(240, 240, 240);
  font-size: 1rem;
  color: rgb(62, 62, 62);
  border-radius: 0;
  width: 100%;
  border-bottom: 5px solid lightgrey;
}

.analytic-btns button:hover{
  background-color: transparent;
}

.statistics{
  margin-top: 10px;
  overflow-y: scroll;
  position: relative;
  height: 500px;
  border-radius: 2px;
}

.statistics::-webkit-scrollbar {
  display: none;
}

.analytic-item{
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  margin: 10px;
  box-shadow: 1px 1px 5px 1px lightgrey;
}

.analytic-item-header p{
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

.analytic-item-btns{
  display: flex;
  margin-top: 10px;
  width: 130px;
  justify-content: space-between;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.analytic-item-btns button{
  height: 20px;
  width: 50px;
  background-color: transparent;
  color: rgb(64, 64, 64);
  text-transform: uppercase;
  font-size: .9rem;
}

.analytic-item-quantity{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .9rem;
  color: rgb(103, 103, 103);
}

.analytic-item-header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .9rem;
}

.analytic-item-status{
  height: 10px;
  width: 100px;
  background-color: orange;
  border-radius: 20px;
}

.updated-time{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 10px;
  width: 125px;
}

.editor{
  height: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.editor-btns{
  width: 100%;
  margin-top: 50px;
  left: auto;
  right: auto;
}

.editor-btns button{
  width: 150px;
}

.time-container{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.time-container p{
  font-size: 1.3rem;
}

.date-time-block{
  width: 80%;
  padding: 5px 10px;
}

.input-minutes{
  text-align: center;
  width: 100px;
  margin: 0px 10px;
}

.report-container, .graph-container{
  padding: 10px;
  background-color: white;
  border: 10px solid rgb(240, 240, 240);
}

.report-item{
  margin-bottom: 5px;
  padding: 6px;
  border-radius: 5px;
}

.report-item-header{
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-transform: capitalize;
}

.bar-container{
  margin: 5px 0px;
  height: 10px;
  width: 100%;
  margin-right: 10px;
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
}

.bar{
  height: 10px;
  width: 400px;
  border-radius: 10px;
}

.empty-data{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart{
  height: 480px;
}