*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

button{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgb(71, 189, 215);
  font-size: 1.3rem;
  outline: none;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  height: 50px;
  border-radius: 5px;
  width: 100%;
  transition: .3s ease all;
}

button:hover{
  background-color: rgb(49, 165, 232);;
}

button:focus{
  background-color: rgb(71, 71, 210);
}

ul{
  list-style: none;
}

input{
  border: none;
  outline: none;
  padding: 5px 10px;
  border-bottom: 1px solid lightgrey;
  font-size: 1.1rem;
}